<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    
    
    <h2>商品新規登録</h2>
    
    
    <div class="col-md-5 col-xs-5">
      <%= form_with model: @item do |f| %>
      
      <div class="item-image">
        <%= f.file_field :image %>
      </div><br>
      
      <%= image_tag @item.get_image(300,300) %>
      
    </div>
    
    
    <br><br><br>
    <div class="col-md-5 col-md-offset-2 col-xs-5 col-xs-offset-2">
      <table class="new-form-table">
        
      </table>
    </div>
    
  </div>
</div>